In [2]:
import pandas as pd
import numpy as np

In [167]:
train = pd.read_csv("train_all_data_averageStudents_new.csv")

In [168]:
y_train = train.iloc[:, -1]

# 第一種挑法

In [42]:
columns = ['preOrderedPrice', 'price', 'courseCP']

In [43]:
train_method1 = train[columns]

In [44]:
# minmax、dummy

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler = scaler.fit(train_method1)
train_method1 = scaler.transform(train_method1)
train_method1

array([[0.43546016, 0.41176471, 0.15084936],
       [0.67068509, 0.58823529, 0.15000265],
       [0.43546016, 0.54751131, 0.0605144 ],
       ...,
       [0.4707439 , 0.47963801, 0.12914266],
       [0.23257865, 0.32126697, 0.33758745],
       [0.41193767, 0.41176471, 0.07424865]])

In [45]:
# pip install xgboost

In [46]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method1, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  3990.983343

In [47]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method1, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2871.267629

In [48]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method1, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2538.120174

# 第二種挑法

In [49]:
columns = ['group__title','group__subGroup__title','subtitleCourseNum','pictureNum', 'lengthOfDescription', 'totalVideoLengthInSeconds']

In [50]:
train_method2 = train[columns]

In [51]:
# minmax、dummy

from sklearn.preprocessing import MinMaxScaler

digit_columns = ['subtitleCourseNum', 'pictureNum', 'lengthOfDescription', 'totalVideoLengthInSeconds']
category_columns = [c for c in columns if c not in digit_columns]

scaler = MinMaxScaler()
scaler = scaler.fit(train_method2[digit_columns])
train_method2[digit_columns] = scaler.transform(train_method2[digit_columns])

train_method2 = pd.get_dummies(train_method2, columns = category_columns)
train_method2

C:\Users\ChenPoYen\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

,subtitleCourseNum,pictureNum,lengthOfDescription,totalVideoLengthInSeconds,group__title_人文,group__title_手作,group__title_投資理財,group__title_攝影,group__title_生活品味,group__title_程式,...,group__subGroup__title_遊戲開發,group__subGroup__title_運動,group__subGroup__title_量化交易,group__subGroup__title_量化分析,group__subGroup__title_金融商品,group__subGroup__title_電腦繪圖,group__subGroup__title_靈性發展,group__subGroup__title_韓文,group__subGroup__title_音樂創作,group__subGroup__title_體程式開發與維護
0,0.111111,0.137931,0.175227,0.102523,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,0.222222,0.327586,0.537932,0.139920,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,0.148148,0.155172,0.215509,0.052911,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.351852,0.327586,0.374790,0.089928,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.351852,0.379310,0.311850,0.104208,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,0.259259,0.637931,0.266700,0.064164,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376,0.055556,0.293103,0.338872,0.126486,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,0.462963,0.224138,0.232377,0.100263,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
378,0.092593,0.655172,0.239594,0.187903,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,0.037037,0.275862,0.381420,0.049899,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
# val_method2 = pd.get_dummies(val_method2, columns = category_columns)
# val_method2

In [53]:
# a = list(train_method2.columns)
# b = list(val_method2.columns)
# c = []
# c.extend(a)
# c.extend(b)
# print(c)
# columns_pool = set(c)
# val_method2_adjusted = pd.DataFrame(columns = columns_pool)
# train_method2_adjusted = pd.DataFrame(columns = columns_pool)

# for column in columns_pool:
#     if column in val_method2.columns:
#         val_method2_adjusted[column] = val_method2[column].values
#     else:
#         val_method2_adjusted[column] = [0 for i in range(len(val_method2))]
        
# for column in columns_pool:
#     if column in train_method2.columns:
#         train_method2_adjusted[column] = train_method2[column].values
#     else:
#         train_method2_adjusted[column] = [0 for i in range(len(train_method2))]
        
# val_method2_adjusted

In [54]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method2, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  3053.780622

In [55]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method2, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2969.508614

In [56]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method2, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2538.433224

# 第三種挑法

In [169]:
columns = ['setUpCoursesAgain', 'owner__name', 'courseNumHistry', 'isBrand', 'averageRatingHistry', 'total_fans']

In [170]:
train_method3 = train[columns]

In [171]:
# minmax、dummy

from sklearn.preprocessing import MinMaxScaler

digit_columns = ['setUpCoursesAgain', 'courseNumHistry', 'isBrand', 'averageRatingHistry', 'total_fans']
category_columns = [c for c in columns if c not in digit_columns]

scaler = MinMaxScaler()
scaler = scaler.fit(train_method3[digit_columns])
train_method3[digit_columns] = scaler.transform(train_method3[digit_columns])

train_method3 = pd.get_dummies(train_method3, columns = category_columns)
train_method3

C:\Users\ChenPoYen\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

,setUpCoursesAgain,courseNumHistry,isBrand,averageRatingHistry,total_fans,owner__name_4Samantha 莎曼莎,owner__name_617行銷筆記,owner__name_653studio,owner__name_67arrow,owner__name_AI . FREE Team,...,owner__name_韓諆璋 Jonathan,owner__name_頂尖國際工程顧問有限公司,owner__name_食癮，拾影,owner__name_馬卡龍腳趾Macaron TOE,owner__name_高培 Gaopei,owner__name_高義勝,owner__name_魏美棻 Nancy Wei,owner__name_魚魚,owner__name_鮮矣仁,owner__name_黃子瑜 (Fish)
0,1.0,0.2,0.0,0.984,0.081970,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,0.2,0.0,0.986,0.060833,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.000,0.063815,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,0.2,0.0,0.994,0.002444,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.6,0.0,0.662,0.060833,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,1.0,0.4,0.0,0.970,0.025989,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376,0.0,0.0,0.0,0.000,0.004244,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,1.0,0.2,0.0,0.776,0.013941,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
378,0.0,0.0,0.0,0.000,0.002732,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,0.0,0.0,1.0,0.000,0.001999,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
# val_method3 = pd.get_dummies(val_method3, columns = category_columns)
# val_method3

In [61]:
# a = list(train_method3.columns)
# b = list(val_method3.columns)
# c = []
# c.extend(a)
# c.extend(b)
# print(c)
# columns_pool = set(c)
# val_method3_adjusted = pd.DataFrame(columns = columns_pool)
# train_method3_adjusted = pd.DataFrame(columns = columns_pool)

# for column in columns_pool:
#     if column in val_method3.columns:
#         val_method3_adjusted[column] = val_method3[column].values
#     else:
#         val_method3_adjusted[column] = [0 for i in range(len(val_method3))]
        
# for column in columns_pool:
#     if column in train_method3.columns:
#         train_method3_adjusted[column] = train_method3[column].values
#     else:
#         train_method3_adjusted[column] = [0 for i in range(len(train_method3))]
        
# val_method3_adjusted

In [62]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method3, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2543.313836

In [63]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method3, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2510.536174

In [64]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method3, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2539.007990

# 第四種挑法

In [65]:
columns = ['teacher_metaDescription_similarity','teacher_group__subGroup__title_similarity',
            'teacher_targetGroup_similarity',
            'teacher_title_similarity',
            'teacher_group__title_similarity', 'teacher_recommendedBackground_similarity', 'teacher_willLearn_similarity',
            'teacher_requiredTools_similarity']

In [66]:
train_method4 = train[columns]

In [67]:
# minmax、dummy

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler = scaler.fit(train_method4)
train_method4 = scaler.transform(train_method4)

In [68]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method4, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  5542.011635

In [69]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method4, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  3896.055153

In [71]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method4, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2538.332320

# 第五種挑法

In [73]:
columns = ['preOrderedPrice', 'price', 'courseCP',

'group__title', 'group__subGroup__title', 'subtitleCourseNum',
'pictureNum', 'lengthOfDescription', 'totalVideoLengthInSeconds',

'setUpCoursesAgain', 'owner__name', 'courseNumHistry', 'isBrand', 'averageRatingHistry', 'total_fans',

'teacher_metaDescription_similarity', 'teacher_group__subGroup__title_similarity',
'teacher_targetGroup_similarity',
'teacher_title_similarity',
'teacher_group__title_similarity','teacher_recommendedBackground_similarity', 'teacher_willLearn_similarity',
'teacher_requiredTools_similarity']

In [74]:
train_method5 = train[columns]

In [75]:
# minmax、dummy

from sklearn.preprocessing import MinMaxScaler

digit_columns = ['setUpCoursesAgain', 'courseNumHistry', 'isBrand', 'averageRatingHistry', 'total_fans','subtitleCourseNum',
'pictureNum', 'lengthOfDescription', 'totalVideoLengthInSeconds','preOrderedPrice', 'price', 'courseCP','teacher_metaDescription_similarity', 'teacher_group__subGroup__title_similarity',
'teacher_targetGroup_similarity',
'teacher_title_similarity',
'teacher_group__title_similarity','teacher_recommendedBackground_similarity', 'teacher_willLearn_similarity',
'teacher_requiredTools_similarity']

category_columns = [c for c in columns if c not in digit_columns]

scaler = MinMaxScaler()
scaler = scaler.fit(train_method5[digit_columns])
train_method5[digit_columns] = scaler.transform(train_method5[digit_columns])

train_method5 = pd.get_dummies(train_method5, columns = category_columns)

C:\Users\ChenPoYen\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [76]:
# val_method5 = pd.get_dummies(val_method5, columns = category_columns)

In [77]:
# a = list(train_method5.columns)
# b = list(val_method5.columns)
# c = []
# c.extend(a)
# c.extend(b)
# print(c)
# columns_pool = set(c)
# val_method5_adjusted = pd.DataFrame(columns = columns_pool)
# train_method5_adjusted = pd.DataFrame(columns = columns_pool)

# for column in columns_pool:
#     if column in val_method5.columns:
#         val_method5_adjusted[column] = val_method5[column].values
#     else:
#         val_method5_adjusted[column] = [0 for i in range(len(val_method5))]
        
# for column in columns_pool:
#     if column in train_method5.columns:
#         train_method5_adjusted[column] = train_method5[column].values
#     else:
#         train_method5_adjusted[column] = [0 for i in range(len(train_method5))]
        
# val_method5_adjusted

In [86]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method5, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2704.380569

In [133]:
# print(model.feature_importances_)
model = XGBRegressor()
model.fit(train_method5, y_train)
new = [c for c in train_method5.columns]
# print(new[1])
score = model.feature_importances_
# print(score[])
indexes = np.argsort(score)
indexes = indexes[::-1]

value_index = indexes[:10]
features_important = [new[i] for i in value_index]
print(features_important)

['total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'owner__name_數位時代', 'owner__name_Sonny Chen', 'group__title_語言', 'owner__name_郭堯中 Nkwo', 'group__subGroup__title_英文', 'group__subGroup__title_資料科學']

In [134]:
# print(model.feature_importances_)
model = XGBRegressor()
model.fit(train_method5, y_train)
new = [c for c in train_method5.columns]
# print(new[1])
score = model.feature_importances_
# print(score[])
indexes = np.argsort(score)
indexes = indexes[::-1]

value_index = indexes[:20]
features_important = [new[i] for i in value_index]
print(features_important)

['total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'owner__name_數位時代', 'owner__name_Sonny Chen', 'group__title_語言', 'owner__name_郭堯中 Nkwo', 'group__subGroup__title_英文', 'group__subGroup__title_資料科學', "owner__name_窩廚房Joy'in Kitchen", 'owner__name_鏡頭教練洪婉蒨', 'pictureNum', 'teacher_group__subGroup__title_similarity', 'preOrderedPrice', 'group__title_行銷', 'lengthOfDescription', 'teacher_title_similarity', 'owner__name_凱蒂Katie', 'teacher_recommendedBackground_similarity']

In [89]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method5, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2521.617219

In [90]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, train_method5, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2538.755982

In [135]:
columns_10 = ['total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'owner__name_數位時代', 'owner__name_Sonny Chen', 'group__title_語言', 'owner__name_郭堯中 Nkwo', 'group__subGroup__title_英文', 'group__subGroup__title_資料科學']

In [136]:
c = train_method5[columns_10]

In [137]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2598.874062

In [138]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2532.962776

In [139]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2536.235786

In [140]:
columns_20 = ['total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'owner__name_數位時代', 'owner__name_Sonny Chen', 'group__title_語言', 'owner__name_郭堯中 Nkwo', 'group__subGroup__title_英文', 'group__subGroup__title_資料科學', "owner__name_窩廚房Joy'in Kitchen", 'owner__name_鏡頭教練洪婉蒨', 'pictureNum', 'teacher_group__subGroup__title_similarity', 'preOrderedPrice', 'group__title_行銷', 'lengthOfDescription', 'teacher_title_similarity', 'owner__name_凱蒂Katie', 'teacher_recommendedBackground_similarity']

In [141]:
c = train_method5[columns_20]

In [142]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2472.721445

In [143]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2440.852141

In [144]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2537.041847

In [145]:
# print(model.feature_importances_)
model = RandomForestRegressor()
model.fit(train_method5, y_train)
new = [c for c in train_method5.columns]
# print(new[1])
score = model.feature_importances_
# print(score[])
indexes = np.argsort(score)
indexes = indexes[::-1]

value_index = indexes[:10]
features_important = [new[i] for i in value_index]
print(features_important)

['owner__name_阿滴 x 圖文不符上課囉', 'total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'owner__name_數位時代', 'group__subGroup__title_手機程式開發', 'preOrderedPrice', 'owner__name_Sonny Chen', 'teacher_metaDescription_similarity']

In [146]:
# print(model.feature_importances_)
model = RandomForestRegressor()
model.fit(train_method5, y_train)
new = [c for c in train_method5.columns]
# print(new[1])
score = model.feature_importances_
# print(score[])
indexes = np.argsort(score)
indexes = indexes[::-1]

value_index = indexes[:20]
features_important = [new[i] for i in value_index]
print(features_important)

['owner__name_阿滴 x 圖文不符上課囉', 'total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_王梓沅 X 創勝文教', 'owner__name_Avon', 'owner__name_數位時代', 'preOrderedPrice', 'owner__name_Sonny Chen', 'group__subGroup__title_手機程式開發', 'teacher_metaDescription_similarity', "owner__name_窩廚房Joy'in Kitchen", 'pictureNum', 'totalVideoLengthInSeconds', 'owner__name_鏡頭教練洪婉蒨', 'owner__name_凱蒂Katie', 'price', 'teacher_willLearn_similarity', 'lengthOfDescription', 'teacher_title_similarity', 'owner__name_韓國人金老師']

In [147]:
column_10 = ['owner__name_阿滴 x 圖文不符上課囉', 'total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'group__subGroup__title_手機程式開發', 'owner__name_數位時代', 'preOrderedPrice', 'owner__name_Sonny Chen', "owner__name_窩廚房Joy'in Kitchen"]

In [148]:
c = train_method5[columns_10]

In [149]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2598.874062

In [150]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2517.562171

In [152]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2536.235786

In [153]:
column_20 = ['owner__name_阿滴 x 圖文不符上課囉', 'total_fans', 'owner__name_Mu/s Craft毛線球牧場', 'owner__name_Avon', 'owner__name_王梓沅 X 創勝文教', 'group__subGroup__title_手機程式開發', 'owner__name_數位時代', 'owner__name_Sonny Chen', 'preOrderedPrice', 'owner__name_莫彩曦 Hailey', "owner__name_窩廚房Joy'in Kitchen", 'price', 'owner__name_鏡頭教練洪婉蒨', 'teacher_metaDescription_similarity', 'teacher_title_similarity', 'pictureNum', 'totalVideoLengthInSeconds', 'courseCP', 'owner__name_郭堯中 Nkwo', 'owner__name_凱蒂Katie']

In [154]:
c = train_method5[columns_20]

In [155]:
# XGBoost
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

model = XGBRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2472.721445

In [156]:
# RandomForrest
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2459.029466

In [132]:
# SVM
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR

model = SVR()

cv = KFold(n_splits = 10, random_state = 5, shuffle = True)
scores = cross_val_score(model, c, y_train, scoring = 'neg_mean_squared_error',
                         cv = cv, n_jobs = -1)

print("RMSE : % f" %(np.mean(np.sqrt(np.abs(scores)))))

RMSE :  2537.041847